@import '../../scss/variables';

.datesList {
  min-height: 3rem;
  height: 100%;
  position: relative;

  .singleDate {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      &>* {
        padding: 0.1rem 0.5rem;
      }

      .date {
        background-color: $accent-primary;
        margin-right: 1rem;
      }

      .ordersQuantity {
        background-color: #b2ebf2;
      }
    }
  }
}