.list {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  position: relative;

  @media(max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 575px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}